* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.glavni {
  width: 100%;
  height: 937vh;
  font-family: "Open Sans", sans-serif;
}
nav {
  width: 100%;
  height: 12vh;
  background-color: rgb(0, 157, 255);
  display: flex;
  z-index: 999.9;
  top: 0;
  left: 0;
}

.p {
  width: 100%;
  height: 13vh;
  background-color: rgba(0, 157, 255, 0.5);
  font-size: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(2, 56, 94);
}
ul {
  height: 100%;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 31px;
}
ul a {
  text-decoration: none;
  color: aliceblue;
  font-size: 18px;
}
ul li {
  list-style-type: none;
}

.logo {
  width: 30%;
  height: 100%;
  position: relative;
  top: 6px;
}
.logo img {
  border-radius: 120%;
  width: 90px;
  height: 75px;
}

.div {
  height: 900vh;
  width: 100%;
  position: relative;
  background-color: rgba(0, 157, 255, 0.5);
}

footer {
  width: 100%;
  height: 12vh;
  background-color: rgb(0, 157, 255);
  display: flex;
  color: rgb(248, 218, 239);
  text-align: center;
  padding: 20px;
}

.podaci {
  width: 30%;
  height: 100%;
  text-align: center;
}

.dva {
  text-align: center;
  width: 45%;
  height: 100%;
}
.ik {
  width: 25%;
  height: 100%;
}
#ikona {
  color: rgb(1, 36, 61);
  margin: 6px;
}

h1 {
  color: rgb(2, 56, 94);
  text-align: center;
  padding: 20px;
}

.prvi {
  width: 55%;
  height: 5.5%;
  margin: 20px;
  position: relative;
  display: flex;
  left: 7%;
  background-color: rgb(248, 218, 239);
  border: 2px solid rgb(0, 157, 255);
}

.slika {
  width: 32%;
  height: 100%;
  background-color: aqua;
}

.slika img {
  width: 100%;
  height: 100%;
}

.text {
  width: 68%;
  height: 100%;
  position: relative;
  padding: 22px;
  color: rgb(2, 56, 94);
}

i {
  margin: 5px;
  color: rgb(2, 56, 94);
}

p {
  margin: 5px;
  color: rgb(2, 56, 94);
}

h3 {
  margin: 5px;
  color: rgb(2, 56, 94);
}

#star {
  color: rgb(0, 157, 255);
}

p2 {
  color: rgb(0, 157, 255);
  margin: 5px;
}
